$orange: #f75311;
$darkBlue: #374249;
$darkBlueBorder: rgb(73, 87, 96);
$fontColor: #797979;
$headerColor: #374249;
$hover: #cfd1d3;
$sectionBg: #f3f7f9;

$fontFamily: "Roboto", sans-serif;
$fontSize: 20px;
