$boja-header-footer: #374249;
$boja-fonta: #797979;
$naslovi: #374249;
$hover-za-dugmice: #cfd1d3;
$pozadina-sekcija: #f3f7f9;
$nijansa-narandzasta: #f75311;
$boja-fonta-svetla: white;
$tablet-width: 768px;
$desktop-width: 1024px;