@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import 'vars';
@import 'mixins';

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
#container {
    width: 100;
    position: relative;
    h2 {
        font-weight: 700;
        color: $naslovi;
    }
}
img[alt="location icon"]{
    position: absolute;
    top: 10px;
    left: 20px;
    height: 35px;
}
/* Glevna navigacija */
nav {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: $boja-header-footer;
    
    ul {
        @include flex-ul;
        justify-content: flex-start;
        li {
            display:inline-block;
            padding: 15px 40px 15px 20px;
            a {
                text-decoration: none;
                color: $boja-fonta-svetla;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        #prvi-li {
            display:inline-block;
            text-decoration: underline;
            width: 20%;
            background-color: $nijansa-narandzasta;
            font-size: 1.2em;
            padding-left: 50px;
        }
    }  
}
/* Header deo sa slikom u pozadini*/
header {
    position: relative;
    img{
        width: 100%;
    }
    #welcome {
        position: absolute;
        display: inline-block;
        top: 70%;
        left: 20%;
        right: 20%;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgb(55, 66, 73, 0.5);
        h1, p {
            margin: 0px;
        }
        p {
            font-size: 1.15em;
        }
        h1 {
            font-size: 2.5em;
        }
    }
}
/*Druga navigacija*/
#druga-sekcija {
    width: 60%;
    margin: 0 auto;
    ul {
        @include flex-ul;
        justify-content: flex-end;
        list-style-type: none;
        li {
            margin: 20px 15px;
            padding: 10px 20px;
            border: 1px solid $boja-fonta;
            border-radius: 20px;
            a {
                text-decoration: none;
                color: $boja-header-footer;
                &:hover {
                    color: $boja-fonta-svetla;
                }
            }
            &:hover {
                background-color: $boja-fonta;
                color: $boja-fonta-svetla;
            }
        }
    }
}
/*Deo sa ponudama sa slikama*/
#sekcija-slike {
    background-color: $pozadina-sekcija;
    width: 100%;
}
#treca-sekcija {
    width: 70%;
    margin: 0 auto;
    background-color: $pozadina-sekcija;
    ul {
        @include flex-ul;
        flex-wrap: wrap;
        li {
            position: relative;
            width:20%;
            padding: 10px 10px;
            &:nth-of-type(even) {
                text-align: left;
            }
            &:nth-of-type(odd) {
                text-align: right;
            }
            img {
                width: 100%;
                height: 250px;
            }
            a {
                text-decoration: none;
            }
            .paragraf {
                display: none;
                position: absolute;
                top: 0px;
                color: $boja-header-footer;
                font-weight: bold;
                background-color: hsl(0, 0%, 100%, 0.7);
                width: 100%;
                height: 40%;
                p {
                    padding: 10px 40px 0 5px;
                }
            }
            &:hover .paragraf {
                display: block;
            }
        }
    }
}
/* Deo sa tabelom*/
#tabela {
    width: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
    font-weight: 700;
    td {
        padding: 5px;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid $boja-fonta;
}
.orange {
    background-color: $nijansa-narandzasta;
    color: $boja-fonta-svetla;
}
.orange-border {
    border: 1px solid $boja-fonta;
}
.dark-grey {
    background-color: $boja-header-footer;
    color: white;
}
.dark-grey-border {
    border-top: 1px solid $boja-fonta;
    border-right: 1px solid $boja-fonta;
}
#dark-grey-border {
    border-right: 1px solid $boja-fonta;
}
.bela-border {
    border-top: 1px solid $boja-fonta;
    border-right: 1px solid $boja-fonta;
}
.bela-border2 {
    border-right: 1px solid $boja-fonta;
}
.sirina1 {
    width: 40%;
}
.sirina2 {
    width: 25%;
}
.sirina3 {
    width: 30%;
}
#nevidljivi-link {
    display: none;
}
/*Sekcija sa iframe i formom*/
#poslednja-sekcija {
    width:100%;
    padding-bottom: 60px;
    background-color: $pozadina-sekcija;
    section {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        text-align: center;
        padding-top: 30px;
    }
}
form {
    width: 60%;
    background-color: $nijansa-narandzasta;
    padding: 20px;
    select {
        width: 20%;
        padding: 5px;
    }
    input[type="text"] {
        width: 70%;
        padding: 5px;
    }
    input[type="email"] {
        width: 97.5%;
        padding: 5px;
    }
    select, input[type="text"], 
    input[type="email"] {
        margin-bottom: 20px;
    }
    textarea {
        width: 97.7%;
        padding: 5px;
    }
}
#input, #email-textarea {
    display: flex;
    justify-content: space-between;
}
#email-textarea {
    flex-direction: column;
}
footer {
    background-color: $boja-header-footer;
    color: $boja-fonta-svetla;
    text-align: center;
    p {
        margin: 0px;
        padding: 10px;
    }
    span {
        color: $nijansa-narandzasta;
    }
}
/* Prikaz za srednje ekrane od 768px do 1024px*/
@include tablet {
    header #welcome {
        top: 40%;
        left: 30%;
        right: 30%;
        width: 40%;
    }
    #treca-sekcija {
        width: 80%;
        text-align: center;
    }
    #treca-sekcija ul {
        justify-content: space-evenly;
        align-items: center;
    }
    #treca-sekcija ul li {
        width: 40%;
        img {
            width: 250px;
            height: 250px;
        }
    }
    #tabela {
        width:70%;
    }
    #poslednja-sekcija section {
        width:65%;
        align-items: center;
        flex-direction: column;
        height: 430px;
    }
    form {
        width: 100%;
    }
}
/*prikaz za mobilne, manje od 768px*/
@include mobile {
    nav ul {
        flex-direction: column;
        #prvi-li {
            width: auto;
            text-align: left;
        }
        li {
            text-align: center;
        }     
    }
    header img {
        display: none;
    }
    header {
        background-color: black;
    }
    header #welcome {
        position: relative;
        top:0;
        left: 20%;
        right: 20%;
        width: 60%;
        padding-bottom: 30px;
        background-color: black;
    }
    #druga-sekcija {
        width: 100%;
    }
    #treca-sekcija {
        width: 100%;
    }
    #treca-sekcija ul li {
        width: 90%;
        img {
            object-fit: cover;
            object-position: 100% 0;
            height: 250px;
        }
    }
    #treca-sekcija ul {
        flex-direction: column;
        align-items: center;
    }
    table {
        display: none;
    }
    #poslednja-sekcija section {
        width:90%;
        align-items: center;
        flex-direction: column;
        height: 430px;
    }
    form {
        width: 100%;
    }
    #nevidljivi-link {
        display: inline-block;
        margin: 0 auto;
        padding: 10px 20px;
        border: 1px solid $boja-fonta;
        border-radius: 20px;
        background-color: white;
        text-decoration: none;
        color: $boja-fonta;
    }  
}