@import "vars.scss";
@import "mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  @include defaulSettings;
}
body {
  width: 100vw;
  height: 100vh;
}
header {
  background-color: $darkBlue;
  height: 5%;
  width: 100%;
  nav {
    height: 100%;
    display: flex;
    .newyork {
      height: 100%;
      width: 20%;
      background-color: $orange;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        height: 60%;
        margin: 1.5em 0 1.5em 1em;
      }
      p {
        display: inline-block;
        font-size: $fontSize;
        color: $sectionBg;
        text-decoration: underline;
      }
    }
  }
}

ul {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  li {
    display: inline-block;
    margin: 1em 3em 1em 1em;

    a {
      text-decoration: none;
      color: $sectionBg;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  width: 100%;
  height: 128em;
  .hero {
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .hOneWrapper {
      width: 70%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(55, 66, 73, 0.5);
      margin-bottom: 10em;
      h1 {
        color: $sectionBg;
        font-size: calc($fontSize * 3);
        font-weight: 400;
      }
      p {
        color: $sectionBg;
        font-size: calc($fontSize * 1.1);
      }
    }
  }
  .filter {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      height: 1em;
      display: inline-block;
      padding: 1em 2.5em;
      border: 1px solid $fontColor;
      border-radius: 2em;
      margin: 1em;

      &:hover {
        background-color: $darkBlue;
        cursor: pointer;
        a {
          color: $sectionBg;
        }
      }
      a {
        text-decoration: none;
        color: $fontColor;
      }
    }
  }
  .gallery {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    background-color: $sectionBg;
    .slikawrapper {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      h3 {
        display: none;
      }
      p {
        display: none;
      }
      img {
        height: 40%;
        width: 22%;
      }
    }
  }

  .imageWrapper {
    width: 22%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      background: rgb(255, 255, 255);
      background: rgba(255, 255, 255, 0.6);
      color: #f1f1f1;
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      color: black;
      font-size: 20px;
      padding: 30px 0 60px 0;
      text-align: center;
    }

    #slika {
      width: 100%;
      height: 100%;
    }
  }

  .pricing {
    width: 100%;
    display: flex;
    justify-content: center;
    .price {
      width: 50%;
    }
  }
}
.imageWrapper:hover .overlay {
  opacity: 1;
}
table {
  border-spacing: 0;
  width: 100%;

  tr {
    td {
      padding: 0.6em;
      border: 1px solid rgba($darkBlueBorder, 0.3);

      &:first-of-type {
        border: none;
      }
    }
  }
}

.delete {
  border: none;
}
.pricingWrapper {
  text-align: center;
  h2 {
    margin: 1.5em;
  }
  p {
    margin-bottom: 2em;
  }
}

.orangeBg {
  background-color: $orange;
  color: $sectionBg;
  text-align: center;
}
.grayBg {
  background-color: $darkBlue;
  color: $sectionBg;
  text-align: center;
}

footer {
  background-color: $sectionBg;

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      width: 100%;
      margin: 2em;
      text-align: center;
    }
    iframe {
      margin: 2em;
    }
    .copyright {
      width: 100%;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkBlue;
      color: $sectionBg;
      span {
        color: $orange;
      }
    }
  }
}

.forma {
  width: 36em;
  height: 15em;
  form {
    display: grid;
    grid-template-columns: [first] 25% [line2] 75% [end];
    grid-template-rows: [row1start] 18% [row1end] 25% [thirdline] 50% [rowend];
    background-color: $orange;
    height: 100%;
  }

  .select {
    display: grid;
    grid-column-start: 1;
    grid-column-end: line2;
    grid-row-start: row1start;
    grid-row-end: 1;
  }
  .name {
    display: grid;
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: row1start;
    grid-row-end: 2;
  }
  .email {
    display: grid;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: row1end;
    grid-row-end: 3;
  }
  .textarea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: thirdline;
    grid-row-end: 3;
  }
  select {
    justify-self: end;
    align-self: end;
    width: 87%;
    border: none;
    height: 2em;
  }
  #name {
    width: 90%;
    justify-self: center;
    align-self: end;
    border: none;
    height: 2em;
  }
  #email {
    width: 93%;
    justify-self: center;
    align-self: center;
    border: none;
    height: 2em;
  }
  textarea {
    width: 93%;
    height: 100%;
    justify-self: center;
    border: none;
  }
}
